<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/animaldetail" routerLinkActive="active">
            Animals             
          </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/animaltwoway" routerLinkActive="active">
          Two way
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/register" routerLinkActive="active">
          Register
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/carlist" routerLinkActive="active">
          List of cars
        </a>
      </li>
    </ul>
  </div>
</nav>